
  <section class="main">
    <header class="header">
      <div class="container">
        <div class="logo">
          <img src="./assets/images/logo.svg" alt="Логотип Бургерной">
        </div>

        <nav class="menu">
          <ul class="menu__list">
            <li class="menu__item">
              <a (click)="scrollTo(why)">
                Почему у нас
              </a>
            </li>
            <li class="menu__item">
              <a (click)="scrollTo(products)">
                Меню бургеров
              </a>
            </li>
            <li class="menu__item">
              <a (click)="scrollTo(order)">
                Оформление заказа
              </a>
            </li>
          </ul>
        </nav>

        <div class="menu__currency" title="Изменить Валюту" id="change-currency" (click) = "changeCurrency()">
          {{currency}}
        </div>
      </div>
    </header>

    <section class="main__content">
      <div class="container">
        <div class="main__info">
          <span class="main__small-info">
            Новое меню
          </span>
          <h1 class="main__header">Бургер чеддер</h1>
          <p class="main__text">Мы обновили наше меню, спешите попробовать сезонные новинки и насладиться отличным
            вкусом
            наших бургеров. Готовим для вас лучшие бургеры в городе из отборной мраморной говядины.</p>
          <div class="main__action">
            <button class="button main-action-button" id="main-action-button" (click)="scrollTo(products)">Смотреть меню</button>
          </div>
        </div>
        <img class="main__image" src="./assets/images/main_burger.png" srcset="./assets/images/main_burger@2x.png 2x" alt="Burger Image">
      </div>
    </section>


  </section>

  <section class="main__why why" id="why" #why>
    <div class="container">
      <h2 class="why__title section__title">почему нас выбирают?</h2>

      <ul class="why__list">
        <li class="why__item">
          <img class="why__item-image" src="./assets/images/icons/burger.svg" alt="Иконка бургера" width="100" height="100">
          <p class="why__item-title">Авторские рецепты</p>
          <p class="why__item-text">Наши бургеры обладают уникальным сочетанием вкусов и не похожи ни на какие другие.
            Мы тщательно отбираем лучшие ингредиенты и сочетания вкусов для нашего меню.</p>
        </li>

        <li class="why__item">
          <img class="why__item-image" src="./assets/images/icons/meat.svg" alt="Иконка говядинки" width="100" height="100">
          <p class="why__item-title">Мраморная говядина</p>
          <p class="why__item-text">Для наших бургеров мы используем отборную 100% мраморную говядину, которую закупаем
            исключительно у фермеров. Мы уверены в качестве нашего мяса.</p>
        </li>

        <li class="why__item">
          <img class="why__item-image" src="./assets/images/icons/foodtruck.svg" alt="Иконка фудтрака" width="100" height="100">

          <p class="why__item-title">Быстрая доставка</p>
          <p class="why__item-text">Мы доставляем в пределах МКАД за 30 минут, а если не успеем — доставка бесплатно.
            Мы тщательно упаковываем наши бургеры, чтобы по дороге они не остыли.</p>
        </li>
      </ul>
    </div>
  </section>


  <section class="products" id="products" #products>
    <div class="container">
      <h2 class="products__title section__title">выберите свой бургер</h2>

      <ul class="products__list">
        <li class="products__item" *ngFor = "let product of productsData">
          <div class="products__item-image" >
            <img src="{{product.image}}"  alt="фото"
                class="product__image">
          </div>

          <h3 class="products__item-title">{{product.title}}</h3>

          <p class="products__item-description">{{product.text}}</p>

          <div class="products__item-extra">
            <div class="products__item-info">
              <p class="products__item-price">{{product.price}} {{currency}}</p>
              <p class="products__item-weight">{{product.gramms}} гр</p>
            </div>
            <div class="products__action">
              <button class="button product__order" (click)="scrollTo(order, product)" >
                <p class="order__button-text">Заказать</p>

              </button>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </section>


  <section class="order" id="order" #order>
    <div class="container">
      <h2 class="order__title section__title">оформление заказа</h2>

      <picture>
        <source type="image/webp" srcset="./assets/images/order_image@2x.webp 2x, ./assets/images/order_image.webp">
        <img src="./assets/images/order_image.png" srcset="./assets/images/order_image.@2x.png" alt="фото заказа" class="order__image">
      </picture>

      <div class="order__form--wrapper">
        <p class="order__form-title">Заполните все данные и наш менеджер свяжется с вами для подтверждения заказа</p>

        <div class="order__form" method="post" [formGroup]="form">
          <div class="order__form-input" [class]="{'error': form.get('order')?.invalid && (form.get('order')?.dirty || form.get('order')?.touched)}">
            <input type="text" placeholder="Выберите товар в списке" id="burger" formControlName="order" readonly>
          </div>

          <div class="order__form-input" [class]="{'error': form.get('name')?.invalid && (form.get('name')?.dirty || form.get('name')?.touched) }">
            <input type="text" placeholder="Ваше имя" id="name" formControlName="name">
          </div>

          <div class="order__form-input" [class]="{'error': form.get('phone')?.invalid && (form.get('phone')?.dirty || form.get('phone')?.touched)}">
            <input type="tel:" placeholder="Ваш телефон" id="phone" formControlName="phone">
          </div>

          <button class="order__form-button button" id="order__form-button" (click)="confirmOrder()" [disabled]="!form.valid" >Оформить заказ</button>
        </div>
      </div>
    </div>
  </section>

  <footer class="footer">
    <div class="container">
      <div class="footer__wrapper">
        <div class="logo">
          <img src="./assets/images/logo.svg" alt="Логотип Бургерной">
        </div>
        <p class="rights">Все права защищены</p>
      </div>
    </div>
  </footer>


